* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Borel", cursive;
}

header {
  width: 94.3rem;
  background-color: rgb(60, 52, 52);
  margin-inline: auto;
  height: 100px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: inherit;
  font-size: 1.5rem;
}
.navbar ul li {
  display: inline-block;
  margin-left: 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.name {
  color: white;
  margin-left: 20px;
}
.navbar ul li a:hover {
  background-color: black;
  padding: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.myinformation {
  margin-top: 1rem;
  width: 95rem;
  display: flex;
  height: 500px;
  flex-direction: row;
  font-size: 1.2rem;
  margin-inline: auto;
}
.myinformation > div {
  width: 50%;
  padding: 1rem;
  height: inherit;
}
.myinformation .div-1 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.div-1 > p,
h2 {
  text-align: center;
}
.div-1 img {
  margin-inline: auto;
}
.div-2 .html {
  height: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.html .prog {
  width: 60%;
  height: inherit;
  background-color: rgb(59, 109, 111);
}
.html::after {
  content: "";
  height: inherit;
  width: 50%;

  position: absolute;
  left: 291px;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  background-size: 300%;

  height: inherit;
  animation-name: anim;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.myinformation .div-2 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.java {
  height: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}
.prog-j {
  width: 60%;
  height: inherit;
  height: inherit;
  background-color: rgb(59, 109, 111);
}
.java::after {
  content: "";
  width: 150px;
  height: inherit;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  left: 291px;
  background-size: 300%;
  position: absolute;
  height: inherit;
  animation-name: anim;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes anim {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}
.myinformation .css {
  height: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}
.prog-c {
  width: 60%;
  height: inherit;
  height: inherit;
  background-color: rgb(59, 109, 111);
}
.css::after {
  content: "";
  width: 380px;
  height: inherit;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  left: 291px;
  background-size: 300%;
  position: absolute;
  height: inherit;
  animation-name: anim;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.css::before {
  content: "85%";
  position: absolute;
  background-color: brown;
  padding: 0.5rem;
  height: 20px;
  right: 20px;
  top: 20px;
  border-radius: 15px;
  transform: translateY(-180%);
  -webkit-transform: translateY(-180%);
  -moz-transform: translateY(-180%);
  -ms-transform: translateY(-180%);
  -o-transform: translateY(-180%);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  color: white;
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.css:hover::before {
  top: 0;
  opacity: 1;
}
.html::before {
  content: "80%";
  position: absolute;
  background-color: brown;
  padding: 0.5rem;
  height: 20px;
  right: 20px;
  top: 20px;
  border-radius: 15px;
  transform: translateY(-180%);
  -webkit-transform: translateY(-180%);
  -moz-transform: translateY(-180%);
  -ms-transform: translateY(-180%);
  -o-transform: translateY(-180%);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  color: white;
  opacity: 0;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.html:hover::before {
  opacity: 1;
  top: 0;
}
.java::before {
  content: "35%";
  position: absolute;
  background-color: brown;
  padding: 0.5rem;
  height: 20px;
  right: 20px;
  top: 20px;
  border-radius: 15px;
  transform: translateY(-180%);
  -webkit-transform: translateY(-180%);
  -moz-transform: translateY(-180%);
  -ms-transform: translateY(-180%);
  -o-transform: translateY(-180%);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  color: white;
  opacity: 0;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.java:hover::before {
  opacity: 1;
  top: 0;
}
.def .container {
  display: flex;
  flex-direction: row;
  width: 80rem;

  justify-content: space-between;

  margin-inline: auto;
  margin-top: 3rem;
}
.container .definition {
  padding: 1.2rem;
  padding-left: 1.5rem;
  width: 400px;
  border-radius: 1rem;
  overflow: hidden;
  background-color: black;
  color: white;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.59);
}
.definition h3 {
  text-align: center;
  margin-bottom: 20px;
}
footer {
  color: white;
  width: 95rem;
  height: 3rem;
  background-color: black;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.2rem;
  align-items: center;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

footer div a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  transition: all 0.5;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.5;
  -ms-transition: all 0.5;
  -o-transition: all 0.5;
}
footer p {
  margin-left: 10px;
}
footer .cordo a:hover {
  padding: 0.6rem;
  background-color: white;
  color: black;
}
@media (max-width: 700px) {
  .myinformation {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 700px;
    margin-left: 120px;
  }
  .div-1 .java {
    margin-top: 20px;
  }

  .def .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 800px;
    width: 500px;
    margin-left: 50px;
  }
  .java::after {
    left: 87px;
    width: 50px;
  }
  .html::after {
    left: 87px;
  }
  .css::after {
    left: 87px;
    width: 115px;
  }
  footer {
    width: 500px;
  }
  .nav {
    width: 500px;
    display: flex;
    flex-direction: column;
  }
}
